
/* Styling resets and new defaults*/
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04rem;
    text-align: center;
}

body {
    height: 100vh;
    background-color: #111;
    overflow: hidden;
}

header {
    position: fixed;
    font-size: 2vh;
    width: 100%;
    top: 3vh;
    left: 0;
    color: #FFF;
    user-select: none;
}

main {
    margin: 3vh auto;
    height: 94vh;
    width: 94%;
    background-color: #333;
}

canvas {
    margin: 5vh auto;
    height: 40vh;
    width: 90%;
    background-color: #DDD;
}
