
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@300&display=swap');

:root {
	--main: #fd2;
	--lightest: #FFF;
	--lighter: #DDD;
	--light: #BBB;
	--medium-light: #999;
	--medium: #888;
	--medium-dark: #777;
	--darkest: #000;
	--darker: #111;
	--dark: #333;
	--dark-gradient: #222;
	--background: linear-gradient(-20deg, var(--dark), var(--medium-dark));
	--box-shadow: 
		1px 1px 5px rgba(0, 0, 0, 0.6) inset,
		-1px -1px 5px rgba(255, 255, 255, 0.1) inset,
		4px 4px 10px rgba(0, 0, 0, 0.8),
		-4px -4px 10px rgba(255, 255, 255, 0.1);
	--box-shadow-alt: 
		3px 3px 10px rgba(0, 0, 0, 0.6) inset,
		-3px -3px 10px rgba(255, 255, 255, 0.1) inset,
		4px 4px 10px rgba(0, 0, 0, 0.8),
		-4px -4px 10px rgba(255, 255, 255, 0.1);
	--text-shadow: 
		1px 1px 2px rgba(0, 0, 0, 0.5),
		-1px -1px 2px rgba(255, 255, 255, 0.5);
	--text-shadow-alt: 
		1px 1px 2px rgba(0, 0, 0, 0.1),
		-1px -1px 2px rgba(255, 255, 255, 0.1);
}

/* Styling resets and new defaults*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100vh;
	font-family: 'Averia Libre', sans-serif;
	line-height: 1.5;
	letter-spacing: 0.04rem;
	text-align: center;
	color: var(--light);
	text-shadow: var(--text-shadow);
}

body {
	height: 100vh;
	padding: 2vh 2%;
	background: var(--dark);
	overflow: hidden;
	background: var(--light);
}

main {
	margin: 0;
	border-radius: 2.5rem;
	padding: min(5vw, 2rem) min(5%, 2rem) min(3vh, 2rem);
	background: var(--background);
	box-shadow: var(--box-shadow);
	> * + * {
		margin-top: 1em;
	}
} 

[is=particle-canvas] {
	border-radius: 2rem;
	height: 50vh;
	width: 90vw;
	background: var(--background);
	cursor: none;
	box-shadow: var(--box-shadow-alt);
	user-select: none;
	transition: height 400ms;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1.5em;
}

button, .button {
	position: relative;
	padding: 0.8rem;
	transition: box-shadow 400ms, color 400ms;
	background: var(--background);
	border-radius: 30px;
	cursor: pointer;
	user-select: none;
	box-shadow: var(--box-shadow);
	text-shadow: inherit;
	border: none;
	outline: none;
	font: inherit;
	text-transform: uppercase;
	color: inherit;
	&:hover {
		color: var(--main);
	}
	&:active {
		box-shadow: var(--box-shadow-alt);
		* {
			transform: scale(0.98);
			transform-origin: inherit;
			cursor: pointer;
		}
	}
}

label {
	position: relative;
	display: inline-block;
	transition: all 400ms, color 100ms, text-shadow 100ms;
}

input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	pointer-events: none;
	border-radius: 30px;
	transition: all 300ms;
	&:checked + label {
		color: var(--dark-gradient);
		text-shadow: var(--text-shadow-alt);
	}
}

@media only screen and (min-width: 529px) {
	canvas {
		height: 70%;
	}
}

@media only screen and (min-width: 974px) {
	canvas {
		height: 80%;
	}
}